* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --text-color: rgb(222, 220, 220);
}

/********************************
/*     MAIN PAGE ELEMENTS
*********************************/

body {
  background-color: rgb(51, 51, 51);
}

h1 {
  text-align: center;
  margin-top: 2rem;
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 2.5rem;
}

.hero-img {
  margin: auto;
  display: flex;
  margin-top: 3rem;
  border-radius: 10px;
  box-shadow: 1px 2px 30px 0px rgb(0, 0, 0);
}

.disclaimer {
  color: var(--text-color);
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

/********************************
/*     QUOTE BOX
*********************************/

.quote-box {
  height: 15rem;
  width: 30rem;
  background-color: rgb(27, 159, 159);
  margin: 4rem auto 0rem auto;
  border-radius: 10px;
  display: flex;
  border: 1px solid rgb(0, 0, 0);
}

.quote-box::before {
  content: "''";
  color: var(--text-color);
  font-size: 10rem;
  font-family: "Spirax", cursive;
  position: absolute;
  top: 24.5rem;
}

.quote-display {
  margin: auto;
  height: 10rem;
  width: 21rem;
  color: var(--text-color);
  font-size: 1.3rem;
  text-align: center;
}

.btn {
  display: flex;
  align-self: center;
  margin-left: 23rem;
  margin-top: 10rem;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(211, 211, 211);
  position: absolute;
  border: 1px solid rgb(0, 0, 0);
}

.btn:hover {
  background-color: rgb(189, 189, 189);
}

.btn:active {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
